<div class="fixed-top principal" style="background-color: orangered;">
    <div class="row mb-1 pr-0">

        <div class="col-sm-3 col-md-2 col-lg-2 col-1 ml-3 pr-0 mt-2">
            <img class="img-fluid" src="../../assets/logo_ucaldas_claro.png" alt="">
        </div>
        <div class="texto col-sm-5 col-md-6 col-lg-6 col-5 mx-5 pr-0 container-fluid">
            <h2 class="text-center text-white" style="font-size: 3vw;">Jornadas de Ingeniería 2020</h2>
            <p class="h1 text-center text-white" style="font-size: 1.5vw;">¡<span class="text-muted">Bienvenidos</span> al I encuentro de actividades de investigación formación!</p>
        </div>
        <div class=" col-sm-1 col-md-1 col-lg-2 col-1 ml-5 mr-0 pl-0 mt-1 mx-0">
            <img class="img-fluid " src="../../assets/iconojornadas5.jpg" alt="">
        </div>
    </div>


</div>
