<div class="container-fluid position-fixed mt-5">
    <div class="row mb-3">
        <div class="col-10"></div>
        <div class="col-2"></div>
    </div>
    <div class="row mb-5 py-5 justify-content-center h-100">
        <div class="sala1 col-sm-6 col-md-4 col-6 mt-5">
            <img class="position-absolute img-fluid" src="../../assets/isistemas.png" alt="" (click)="irSala1()">
        </div>
        <div class="sala2 col-sm-6 col-md-4 col-6 mt-5">
            <img class="position-absolute img-fluid" src="../../assets/ialimentos.png" alt=" " (click)="irSala2() ">
        </div>
    </div>

    <div class="row mb-0 mt-5 py-5 justify-content-center h-100">
        <div class="sala3 col-sm-6 col-md-4 col-6 mt-5">
            <img class="position-absolute img-fluid" src="../../assets/tecsi.png" alt=" " (click)="irSala3() ">
        </div>
        <div class="sala3 col-sm-6 col-md-4 col-6 mt-5">
            <img class="position-absolute img-fluid" src="../../assets/agtlseg.png" alt=" " (click)="irSala4() ">
        </div>
    </div>

</div>
