<div class="container-fluid mt-0 mb-0 bg-dark">

    <div class="row mb-0 justify-content-center">
        <div class="poster col-sm-6 col-md-12 mt-2">
            <img class="img-fluid" src={{imagen}} alt="">
        </div>

    </div>
    

    <div class="row justify-content-center">
        <!--<a class="button bg-danger md-2" href={{pdf}} download={{nombreDescarga}}>
        Descargar Archivo
        </a>-->

        <button class="my-2" style="background-color: orangered;">
          <a class="badge p font-weight-light text-white" href={{pdf}} download={{nombreDescarga}}>
        Descargar PDF
        </a>
        </button>

    </div>



</div>
